[Unit]
Description=Sample scheduler (every 10  sec)
Documentation=https://github.com/eunchurn/node-systemd-timer

[Timer]
OnCalendar=*-*-* *:*:0/10
AccuracySec=1ms
Persistent=true

[Install]
WantedBy=timers.target